<style>
    #msgText {
        width: 94%;
        padding: 8px 8px;
        /* font-size: 14px; */
        margin: 8px 12px;
        display: inline-block;
        border: 1px solid #535252;
        border-radius: 4px;
        box-sizing: border-box;
        color: #535252;
    }

    .shareSlackButton {
        width: 45%;
        background-color: #4caf50;
        color: white;
        padding: 8px 4px;
        margin-top: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }
    .closeSlackButton {
        width: 45%;
        background-color: #868686;
        color: white;
        padding: 8px 4px;
        margin: 11px 11px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
    }

    .shareSlackButton:hover {
        background-color: #45a049;
    }

    #slackSharePromptDiv {
        border-radius: 5px;
        background-color: #252830;
        padding: 20px;
    }
    #labelchannel {
        color: black;
        font-size: 14px !important;
        padding: 2px 0px 0px 12px !important;
        margin-left: 12px !important;
    }
    /* .error
        {
        border:2px solid red !important;
        } */

    .slack-error {
        color: #d8000c;
        border: 1px solid;
        margin: 10px 21px 10px 10px;
        padding: 14px 8px 14px 47px;
        background-repeat: no-repeat;
        background-position: 9px center;
        background-color: #ffbaba;
        background-image: url(https://i.imgur.com/GnyDvKN.png);
        display: none;
    }
    .select-box {
        width: 100%;
        display: flex;
        color: black;
        height: 30px;
    }
    .button-section {
        display: flex;
    }
</style>

<div id="slackSharePromptDiv">
    <form>
        <!-- <div class="slack-error" id="slack-error" >Message is required !</div> -->
        <label for="msgText" id="labelChannel">Select Genre</label>
        <!-- <input
                type="text"
                id="msgText"
                class="native-key-bindings"
                name="firstname"
                value=""
                tab-index="-1"
            /> -->
        <select name="genre" id="genre" class="select-box native-key-bindings">
            <option value="Acoustic">Acoustic</option
            ><option value="Afrobeat">Afrobeat</option
            ><option value="Alt rock">Alt rock</option
            ><option value="Alternative">Alternative</option
            ><option value="Ambient">Ambient</option
            ><option value="Anime">Anime</option
            ><option value="Black metal">Black metal</option
            ><option value="Bluegrass">Bluegrass</option
            ><option value="Blues">Blues</option
            ><option value="Bossanova">Bossanova</option
            ><option value="Brazil">Brazil</option
            ><option value="Breakbeat">Breakbeat</option
            ><option value="British">British</option
            ><option value="Cantopop">Cantopop</option
            ><option value="Chicago house">Chicago house</option
            ><option value="Children">Children</option
            ><option value="Chill">Chill</option
            ><option value="Classical">Classical</option
            ><option value="Club">Club</option
            ><option value="Comedy">Comedy</option
            ><option value="Country">Country</option
            ><option value="Dance">Dance</option
            ><option value="Dancehall">Dancehall</option
            ><option value="Death metal">Death metal</option
            ><option value="Deep house">Deep house</option
            ><option value="Detroit techno">Detroit techno</option
            ><option value="Disco">Disco</option
            ><option value="Disney">Disney</option
            ><option value="Drum and bass">Drum and bass</option
            ><option value="Dub">Dub</option
            ><option value="Dubstep">Dubstep</option
            ><option value="Edm">Edm</option
            ><option value="Electro">Electro</option
            ><option value="Electronic">Electronic</option
            ><option value="Emo">Emo</option
            ><option value="Folk">Folk</option
            ><option value="Forro">Forro</option
            ><option value="French">French</option
            ><option value="Funk">Funk</option
            ><option value="Garage">Garage</option
            ><option value="German">German</option
            ><option value="Gospel">Gospel</option
            ><option value="Goth">Goth</option
            ><option value="Grindcore">Grindcore</option
            ><option value="Groove">Groove</option
            ><option value="Grunge">Grunge</option
            ><option value="Guitar">Guitar</option
            ><option value="Happy">Happy</option
            ><option value="Hard rock">Hard rock</option
            ><option value="Hardcore">Hardcore</option
            ><option value="Hardstyle">Hardstyle</option
            ><option value="Heavy metal">Heavy metal</option
            ><option value="Hip hop">Hip hop</option
            ><option value="Holidays">Holidays</option
            ><option value="Honky tonk">Honky tonk</option
            ><option value="House">House</option
            ><option value="Idm">Idm</option
            ><option value="Indian">Indian</option
            ><option value="Indie">Indie</option
            ><option value="Indie pop">Indie pop</option
            ><option value="Industrial">Industrial</option
            ><option value="Iranian">Iranian</option
            ><option value="J dance">J dance</option
            ><option value="J idol">J idol</option
            ><option value="J pop">J pop</option
            ><option value="J rock">J rock</option
            ><option value="Jazz">Jazz</option
            ><option value="K pop">K pop</option
            ><option value="Kids">Kids</option
            ><option value="Latin">Latin</option
            ><option value="Latino">Latino</option
            ><option value="Malay">Malay</option
            ><option value="Mandopop">Mandopop</option
            ><option value="Metal">Metal</option
            ><option value="Metal misc">Metal misc</option
            ><option value="Metalcore">Metalcore</option
            ><option value="Minimal techno">Minimal techno</option
            ><option value="Movies">Movies</option
            ><option value="Mpb">Mpb</option
            ><option value="New age">New age</option
            ><option value="New release">New release</option
            ><option value="Opera">Opera</option
            ><option value="Pagode">Pagode</option
            ><option value="Party">Party</option
            ><option value="Philippines opm">Philippines opm</option
            ><option value="Piano">Piano</option
            ><option value="Pop">Pop</option
            ><option value="Pop film">Pop film</option
            ><option value="Post dubstep">Post dubstep</option
            ><option value="Power pop">Power pop</option
            ><option value="Progressive house">Progressive house</option
            ><option value="Psych rock">Psych rock</option
            ><option value="Punk">Punk</option
            ><option value="Punk rock">Punk rock</option
            ><option value="R n b">R n b</option
            ><option value="Rainy day">Rainy day</option
            ><option value="Reggae">Reggae</option
            ><option value="Reggaeton">Reggaeton</option
            ><option value="Road trip">Road trip</option
            ><option value="Rock">Rock</option
            ><option value="Rock n roll">Rock n roll</option
            ><option value="Rockabilly">Rockabilly</option
            ><option value="Romance">Romance</option
            ><option value="Sad">Sad</option
            ><option value="Salsa">Salsa</option
            ><option value="Samba">Samba</option
            ><option value="Sertanejo">Sertanejo</option
            ><option value="Show tunes">Show tunes</option
            ><option value="Singer songwriter">Singer songwriter</option
            ><option value="Ska">Ska</option
            ><option value="Sleep">Sleep</option
            ><option value="Songwriter">Songwriter</option
            ><option value="Soul">Soul</option
            ><option value="Soundtracks">Soundtracks</option
            ><option value="Spanish">Spanish</option
            ><option value="Study">Study</option
            ><option value="Summer">Summer</option
            ><option value="Swedish">Swedish</option
            ><option value="Synth pop">Synth pop</option
            ><option value="Tango">Tango</option
            ><option value="Techno">Techno</option
            ><option value="Trance">Trance</option
            ><option value="Trip hop">Trip hop</option
            ><option value="Turkish">Turkish</option
            ><option value="Work out">Work out</option
            ><option value="World music">World music</option></select
        >
        <!-- <div class="button-section">
           
            <button class="shareSlackButton" id="closePrompt">Close</button>
        </div> -->
    </form>
</div>
