// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.swdc-atom {
}

.msg-status {
  color: rgb(116, 149, 224);
}

.circle {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
}
.inputPopup {
  height: 110px;
}
.listPopup {
  height: 80px;
}
input[type="text"] {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}
.prompt-input-button {
  background-color: #2261d3;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
}
